
  <h1>Reset Password</h1>

  <form method="post">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Reset Password">
  </form>

